{% extends 'main.html.twig' %}

{% block title %}{{ parent() }} | Détails {{ sortie.nom }}{% endblock %}

{% block body %}
    <h2>Afficher une sortie</h2>
    <div>{{ sortie.nom }}</div>
    <div>{{ sortie.dateHeureDebut }}</div>
    <div>{{ sortie.dateLimiteInscription }}</div>
    <div>{{ sortie.duree }}</div>
    <div>{{ sortie.nbInscriptionsMax }}</div>
    <div>{{ sortie.infosSortie }}</div>
{% endblock %}