{% extends 'main.html.twig' %}

{% block title %}{{ parent() }} | Détails {{ sortie.nom }}{% endblock %}

{% block body %}
    <h2>Afficher une sortie</h2>
    <div>{{ sortie.nom }}</div>
    <div>{{ sortie.dateHeureDebut | date('d/m/Y') }}</div>
    <div>{{ sortie.dateLimiteInscription | date('d-m-Y-H-i') }}</div>
    <div>{{ sortie.duree | date('m') }}</div>
    <div>{{ sortie.nbInscriptionsMax }}</div>
    <div>{{ sortie.infosSortie }}</div>
{% endblock %}