{% extends 'main.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <h1>Accueuil</h1>
    <div class="searchForm">
        {{ form_start(form) }}
    {{ form_label(form.search, 'Le nom de la sortie contient :') }}
        <div class="barreEtBouton">
            {{ form_widget(form.search, { 'attr': {'class':'barre', 'placeholder': 'Rechercher...'} }) }}
            <button type="submit">Rechercher</button>
        </div>
    {{ form_end(form) }}
    </div>

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>État</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            {% if search is empty or search in sortie.nom %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                <td>{{ sortie.dateLimiteInscription |date('d/m/Y H:i')}}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.duree | date('Y-m-d-H-m-s') }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{{ sortie.user.actif }}</td>
                <td>{{ sortie.user.nom }}</td>
                <td>
                    <a href="{{ path('sortie_details', {'id': sortie.id}) }}">Détails</a>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <button>
        <a href="{{ path('sortie_create') }}">Créer une sortie</a>
    </button>
{% endblock %}