{% extends 'main.html.twig' %}

{% block title %}{{ parent() }} | Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>

    {{ form_start(form) }}
    <div class="barreEtBouton">
        {{ form_row(form.search, {'attr': {'class':'barre', 'placeholder': 'Rechercher...'}}) }}
        {{ form_row(form.campus) }}
        <button type="submit">Rechercher</button>
    </div>
    {{ form_end(form) }}

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrits/places</th>
            <th>Durée</th>
            <th>État</th>
            <th>Organisateur</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</td>
                <td>{{ sortie.dateLimiteInscription |date('d/m/Y H:i')}}</td>
                <td class="nbInscrits">{{ sortie.getNbInscrits() }}/{{ sortie.nbInscriptionsMax }}</td>


                <td>{{ sortie.duree | date('%i') }}</td>
                <td>{{ sortie.etat.id }}</td>
                <td>{{ sortie.organisateur.nom }}</td>
                <td>{{ sortie.campus.id }}</td>
                <td>
                    <a href="{{ path('sortie_details', {'id': sortie.id}) }}" title="details" class="lien">Détails</a>
                <td class="nbInscrits" onclick="loadParticipants('{{ sortie.id }}')">{{ sortie.getNbInscrits() }}/{{ sortie.nbInscriptionsMax }}</td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button>
        <a href="{{ path('sortie_create') }}">Créer une sortie</a>
    </button>
{% endblock %}
