{% extends 'main.html.twig' %}

{% block title %}{{ parent() }} | Créer une sortie{% endblock %}

{% block body %}

<h2>Créer une sortie</h2>
            {{ form_start(sortieForm) }}
            {{ form_start(campusForm) }}
            {{ form_start(villeForm) }}
                {{ form_widget(sortieForm) }}
                {{ form_widget(campusForm) }}
                {{ form_widget(villeForm) }}

<container>
            <button>Enregistrer</button>
            <button>Publier la sortie</button>
            <button>Annuler</button>
</container>
            {{ form_end(sortieForm) }}
            {{ form_end(campusForm) }}
            {{ form_end(villeForm) }}

{% endblock %}