{% extends 'main.html.twig' %}

{% block title %}{{ parent() }} | Détails {{ participant.nom }}{% endblock %}

{% block body %}
    <h2>Détails du profil</h2>

    <div class="profil">Nom: {{ participant.nom }}</div>
    <div class="profil">Prénom: {{ participant.prenom }}</div>
    <div class="profil">Email: {{ participant.email }}</div>


{% endblock %}
