{% extends 'main.html.twig' %}

{% block title %}{{ parent() }} | Détails {{ app.user.pseudo }}{% endblock %}

{% block body %}
    <h2>Details du Profil de {{ app.user.pseudo }}</h2>
    {% if app.user.image is empty %}
        <img src="{{ asset('directory_to_upload/smiley.png') }}" alt="" class="centered-image">
    {% endif %}
    <img src="{{ asset('directory_to_upload/'~app.user.image) }}" alt="" class="centered-image">
    <div class="profil">

    Prénom:    {{app.user.prenom }}<br>
    Nom:       {{ app.user.nom }}<br>
    Téléphone: {{ app.user.telephone }}<br>
    Email: {{ app.user.email }}<br>
    Campus: {{ app.user.campus.nom }}

    </div>
<container>
    <a href="{{ path('app_profilUpdate') }}">
    <button name="update" value="update">Modifier le profil</button>
    </a>
</container>

{% endblock %}


