{% extends 'main.html.twig' %}

{% block title %}{{ parent() }} | Détails {{ participant.pseudo }}{% endblock %}

{% block body %}
    <h2>Détails du profil</h2>

    <img src="{{ asset('directory_to_upload/'~participant.image) }}" alt="Profile Picture" class="centered-image">
    <div class="profil">Nom: {{ participant.nom }}</div>
    <div class="profil">Prénom: {{ participant.prenom }}</div>
    <div class="profil">Email: {{ participant.email }}</div>
{% endblock %}
