{% extends 'main.html.twig' %}

{% block title %}{{ parent() }} | Détails {{ organisateur.pseudo }}{% endblock %}

{% block body %}
    <h2>Détails du profil de {{ organisateur.pseudo }}</h2>
    {% if organisateur.image is empty %}
    <img src="{{ asset('directory_to_upload/smiley.png') }}" alt="" class="centered-image">
    {% endif %}
    <img src="{{ asset('directory_to_upload/'~organisateur.image) }}" alt="" class="centered-image">
    <div class="profil">Nom: {{ organisateur.nom }}</div>
    <div class="profil">Prénom: {{ organisateur.prenom }}</div>
    <div class="profil">Email: {{ organisateur.email }}</div>

{% endblock %}
