<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sortir.com{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="icon" href="{{ asset('img/cheers.png') }}">
</head>
<body>
    <header>
        <h1><a href=""><img src="{{ asset('img/toast.png') }}" alt="logo sortir">Sortir.com</a></h1>
        <nav>
            <ul>
                {% if app.user %}
                <li><a href="" title="accueil"></a>Accueil</li>
                <li><a href="" title="monProfil"></a>Mon profil</li>
                <li><a href="" title="seDeconnecter"></a>Se déconnecter (Hello! {{ app.user }})</li>
                <li><a href="" title="villes"></a>Villes</li>
                <li><a href="" title="campus"></a>Campus</li>
                {% else %}
                    <li><a href="" title="creerUnProfil"></a>Créer un profil</li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>
        <p>&copy; {{ "now"|date("Y") }} Sortir.com | 404</p>
    </footer>
</body>
</html>