{% extends 'main.html.twig' %}

{% block title %}{{ parent() }} | Details profil {{ user.pseudo }}{% endblock %}

{% block body %}
    <h2>Profil Utilisateur</h2>
    <div class="profil">Pseudo: {{ user.pseudo }}</div>
    <div class="profil">Nom: {{ user.nom }}</div>
    <div class="profil">Prenom: {{ user.prenom }}</div>
    <div class="profil">Téléphone: {{ user.telephone }}</div>
    <div class="profil">Email: {{ user.email }}</div>





{% endblock %}